<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static '/css/movie.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css">
    <title>My Movies</title>

  </head>
  <body>
    {% include 'nav.html' %}
    {% csrf_token %}
    <div id="hero">
    </div>
    <div id="hover">
        <h1>Eli's Media Website</h1>
    </div>
    <div id="text">
      <h3>About this project</h3>
      <p>Welcome to my media database where I store all of the information about 
        my movies, shows, video games, and books! I am working on the search function 
        to make sure I don't double buy any of the media I own. My long term goals is 
        to integrate a scanner app that can search the database and show the media I 
        have immediately.
      </p>
    </div>
    
  </body>
</html>
